@using Microsoft.EntityFrameworkCore.Query.Internal
@model IEnumerable<Book>

@{
    ViewData["Title"] = "Katalog";
}



    <div class="row">
        <div class="col-2 text-center">
            <h3>Zobacz też:</h3>
            <a class="btn btn-outline-primary ml-2 mt-2 mb-2 w-100" asp-action="Index" asp-route-searchCategory="@ViewBag.All">Wszystko</a>
            <a class="btn btn-outline-secondary ml-2 mb-2 w-100" asp-action="Index" asp-route-searchCategory="@ViewBag.Fantasy">Fantasy i Sci-fi</a>
            <a class="btn btn-outline-secondary ml-2 mb-2 w-100" asp-action="Index" asp-route-searchCategory="@ViewBag.Horror">Horror</a>
            <a class="btn btn-outline-secondary ml-2 w-100" asp-action="Index" asp-route-searchCategory="@ViewBag.Biography">Biografia</a>
        </div>
        <div class="col-10">
            @foreach (var item in Model)
            {
                <div class="card mb-3" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-3 col-xl-2">
                            <img src="@item.ImageURL" height="100%" width="100%" alt="@item.Title">
                        </div>
                        <div class="col-8 col-md-9 col-xl-10">
                            <div class="card-body">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="float-end mx-2" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                }
                                <h2 class="card-text">@item.Title</h2>
                                <p class="card-text">
                                    <b>Autor: </b>
                                    @foreach (var author in item.Author)
                                    {
                                        <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="text-decoration-none">
                                            @author.FullName
                                        </a>
                                    }
                                </p>
                                <p class="card-text">
                                    <b>Wydawca: </b>
                                    <a asp-controller="Publisher" asp-action="Details" asp-route-id="@item.Publisher.Id" class="text-decoration-none">@item.Publisher.Name </a>
                                </p>
                                <p class="card-text">
                                    <b>Gatunek: </b>
                                    @if (@item.Category.Id == 1)
                                    {
                                        <a class="text-decoration-none" asp-action="Index" asp-route-searchCategory="@ViewBag.Fantasy">Fantasy i Sci-fi</a>
                                    }
                                    else if (@item.Category.Id == 2)
                                    {
                                        <a class="text-decoration-none" asp-action="Index" asp-route-searchCategory="@ViewBag.Horror">Horror</a>
                                    }
                                    else if (@item.Category.Id == 3)
                                    {
                                        <a class="text-decoration-none" asp-action="Index" asp-route-searchCategory="@ViewBag.Biography">Biografia</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Więcej
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
            
    </div>