@model IEnumerable<Book>

@{
    ViewData["Title"] = "Katalog";
}



    <div class="row">
        <div class="col-2 text-center">
            <h3>Zobacz też:</h3>
            <a href="~/Book" class="btn btn-outline-secondary ml-2 mb-2 w-100">Wszystko</a>
            @foreach (var cat in Model.DistinctBy(x => x.CategoryId))
            {
                <a href="@Url.RouteUrl("Category", new {categoryId = @cat.CategoryId})" class="btn btn-outline-secondary ml-2 mb-2 w-100">@cat.Category.Name</a>
            } 
            </div>
            <div class="col-10">
            @foreach (var item in Model)
            {
                <div class="card mb-3" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-4 col-md-3 col-xl-2">
                            <img src="@item.ImageURL" height="100%" width="100%" alt="@item.Title">
                        </div>
                        <div class="col-8 col-md-9 col-xl-10">
                            <div class="card-body">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="float-end mx-2" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                }
                                <h2 class="card-text">@item.Title</h2>
                                <p class="card-text">
                                    <b>Autor: </b>
                                    @foreach (var author in item.Author)
                                    {
                                        <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="text-decoration-none">
                                            @author.FullName
                                        </a>
                                    }
                                </p>
                                <p class="card-text">
                                    <b>Wydawca: </b>
                                    <a asp-controller="Publisher" asp-action="Details" asp-route-id="@item.Publisher.Id" class="text-decoration-none">@item.Publisher.Name </a>
                                </p>
                                <p class="card-text">
                                    <b>Gatunek: </b>
                                    <a href="@Url.RouteUrl("Category", new {categoryId = @item.CategoryId})" class="text-decoration-none">@item.Category.Name</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Więcej
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
            
    </div>